
a{
    color: white;
}

.nav-link{
    font-weight: bold;
    background-color: white;
}

/*-----------------#TOGGLER1-----------------------*/




#toggler1{
  border-width: 1px;
  border-color: black;
  background-color: #4895D7;
  transition: background-color 0.25s linear 0s;
}

#toggler1:hover {
  background-color: #648AAB;
}



/*-----------------#TOGGLER1-----------------------*/