.navbar{
	background-color: #7D0240;
	margin-top: 1px;
}



li>.container{
    font-weight: bold;
    margin-right: 5px;
    background-color: #648AAB;
    transition: background-color 0.25s linear 0s;
    border-radius: 5px;

}

li>.container>a{
  color: black;
}


li>.container:hover{
    font-weight: bold;
    color: black;
    margin-right: 5px;
    background-color: #F4E0EA;
}



/*-----------------#TOGGLER1-----------------------*/




#toggler1{
  border-width: 1px;
  border-color: black;
  background-color: #4895D7;
  transition: background-color 0.25s linear 0s;
}

#toggler1:hover {
  background-color: #648AAB;
}



/*-----------------#TOGGLER1-----------------------*/