.navbar{
	background-color: #7D0240;
	margin-top: 1px;
}



.nav-item{
    margin-right: 5px;
    background-color: #EFDFE7;
    transition: background-color 0.25s linear 0s;
    border-radius: 5px;

}

.nav-item{
  color: black;
  font-weight: bold;
}


.nav-item:hover, .nav-item:hover, .nav-item:active, .nav-item:active{
    font-weight: bold;
    color: black;
    margin-right: 5px;
    background-color: #AE6188;
}



/*-----------------#TOGGLER1-----------------------*/




#toggler1{
  background-color: #EFDFE7;
  transition: background-color 0.25s linear 0s;
}

#toggler1:hover {
  background-color: #AE6188;
}



/*-----------------#TOGGLER1-----------------------*/